@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 64, 19, 8;
  --background-start-rgb: 219, 205, 184;
  --background-end-rgb: 201, 185, 161;
  --clr-accent: #000000;
  --clr-primary: #dbcdb8;
  --clr-secondary: #151111;
  --clr-tertiary: #dedbcb;

  --scene-foreground: #B18765;
  --scene-midground: #C89F7D;
  --scene-background: #D1A987;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --clr-accent: #ebe3d5;
    --clr-primary: #303666;
    --clr-secondary: #171d3b;
    --clr-tertiary: #4e5a86;

    --scene-foreground: #323858;
    --scene-midground: #222749;
    --scene-background: #171d3b;

  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}